<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css
">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>GIOI THIEU</title>

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="header">
        <img src="/img/banner_mobile_small.png" alt="">
    </div>
    <div class="nav-bar">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="intro">Giới Thiệu</a></li>
            <li><a href="#">Phản hồi</a></li>
        </ul>
    </div>
    <div class="content">
        <p>
            <h1 style="margin-left: 0px;"> I.GIỚI THIỆU</h1>
        </p>
        <p>Là người con sinh ra và lớn lên ở miền Tây nam bộ nơi đồng bằng trù phú với vườn cây ăn quả đa dạng, là vựa lúa lớn nhất cả nước- những cánh đồng lúa xanh bát ngát cò bay thẳng cánh, nơi có dòng Mê-Kông chia làm chín nhánh như chín rồng chảy ra
            biển đông. Nhưng những điều ấy đang dần bị ảnh hưởng với tác động nặng nề của biến đổi khí hậu và những tác nhân chủ quan- các quốc gia ở thượng nguồn xây dựng nhiều đập thủy điện dẫn đến hạ lưu thiếu nước. Các yếu tố trên làm cho lưu vực
            hạ lưu sông Mê kông- miền Tây Nam Bộ bị xâm nhập mặn dẫn đến cây trái hoa màu chết do thiếu nước ngọt làm cho sản lượng cũng như công sức của nông dân trở nên lãng phí, hơn hết là thu nhập của họ về con số âm(tiền phân thuốc, mua nước ngọt
            để duy trì cây). Thấu hiểu được những khó khăn ấy! là người con của vùng đất chân chất thấm đẫm tình người, tận dụng những kiến thức mà tôi được học ở ngôi trường Công nghiệp TP.HCM. Đúc kết từ nhữn điều trên tôi đã cho ra ứng dụng đưa ra
            cảnh báo xâm nhập mặn từ sớm cho người dùng thông qua app trên điện thoại thông minh. Với ứng dụng này người dùng sẽ được cập nhật dữ liệu mặn từ các điểm đo trên khắp các nhánh sông Mê Kông và dự đoán từ server gửi về app. Tuy đây không phải
            là cách giải quyết triệt để vấn đề trên nhưng tôi muốn đây là cách để chúng ta có thể chủ động trước nó, giảm thiểu được tác hại từ hạn mặn gây ra cho người nông dân. Với dự án này tôi là người đảm nhiệm từ vị trí lên ý tưởng và triển khai
            code server, web, app nên không tránh khỏi thiếu hoặc sai xót. Tôi vất vui mừng khi được mọi người đống góp và báo cáo lỗi hoặc thiếu xót của dự án để tôi có thể hoàn thiện và mang đến cho người nông dân một sản phẩm hoàn thiện nhất!.</p>
        <p style="font-weight:bold;text-indent: 0px!important;"> Một lần nữa chân thành cảm ơn mọi người đã xem dự án này của tôi.</p>
        <p>
            <h1 style="margin-left: 0px;"> II.THÀNH VIÊN</h1>

        </p>
        <div class="member">
            <div style="padding: 10px;">
                <img src="/img/avatar.jpg" alt="">
                <p> <i class="fa-solid fa-user"></i> Tên: LÊ MINH PHÁT</p>
                <p><i class="fa-solid fa-barcode"></i> Mssv: 19428981</p>
                <p><i class="fa-solid fa-briefcase"></i> Lớp: DHCNTT15A</p>
                <p><i class="fa-solid fa-envelope"></i> Mail: minhlee17999@gmail.com</p>
                <p><i class="fa-solid fa-graduation-cap"></i> Khoa-viên: Khoa Công nghệ thông tin- chuyên ngành Công nghệ thông tin</p>
                <p><i class="fa-solid fa-school"></i> Trường: Đại học Công nghiệp TP.HCM</p>
                <p><i class="fa-solid fa-person-chalkboard"></i> GVHD:</p>
            </div>
        </div>

    </div>




    </div>
    <div class="footer">
        <div class="footer-top">
            <!--    Custom mobile   -->
            <div class="f-t-element f-t-element-first col-md-4 col-sm-6">
                <div class="f-t-e-title">LIÊN HỆ</div>
                <div class="f-t-e-content">
                    <br>LÊ MINH PHÁT</br>
                    <br>Email: minhlee17999@gmail.com</br>
                    <p>TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP TP.&nbsp;HCM<br> Địa chỉ : Số 12 Nguyễn Văn Bảo, Phường&nbsp;4,<br> Quận&nbsp;Gò Vấp, Thành phố&nbsp;Hồ Chí Minh<br> Điện thoại: <a href="tel:02838940390">0283.8940 390</a><br> Fax: <a href="tel:02839940954">0283.9940 954</a><br>                        Email:&nbsp;
                        <a href="mailto:dhcn@iuh.edu.vn">dhcn@iuh.edu.vn</a></p>

                </div>
            </div>
            <div class="f-t-element f-t-element-first col-md-4 col-sm-6">
                <p>© Bản quyền 2022 - sv.LÊ MINH PHÁT<br>
                    <span style="font-size:10px; font-weight:normal"><em>Mọi hành động sử dụng nội dung đăng tải trên Website đồ án của sinh viên&nbsp;phải có sự đồng ý bằng văn bản của Sv.LÊ MINH PHÁT.</em></span></p>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>

</body>

</html>